<li>{{item.title}}</li>
{{#if item.finished}}
  <input class="m-1" onchange={{action "markFinished"}} type="checkbox" checked> {{#link-to (concat "add." route "." (lowercase item.type)) item.id class="text-black"}}{{fa-icon "info-circle"}}{{/link-to}}
{{else}}
  <input class="m-1" onchange={{action "markFinished"}} type="checkbox"> {{#link-to  (concat "add." route  "." (lowercase item.type)) item.id class="text-black"}}{{fa-icon "info-circle"}}{{/link-to}}
{{/if}}

