<div class="inline-block border-black border text-center">
  <h4>{{this.model.title}}</h4>
  <h5>Complete?</h5>
  {{#if this.model.finished}}
    <h6 class="text-green bold">Yes</h6>
  {{else}}
    <h6 class="text-red bold">No</h6>
  {{/if}}
  <h5>Notes:</h5>
  {{#if this.isEditing}}
    {{input value=newNotes}}
    <button onclick={{action "saveNotes"}} class="border border-black">Save</button>
  {{else}}
    <p>{{this.model.notes}}</p>
    <button onclick={{action "editNotes"}} class="border border-black">Edit</button>
  {{/if}}
</div>

{{outlet}}